<mat-toolbar color="primary">
  <span>Rick and Morty Character Finder</span>
</mat-toolbar>
<div class="container">
  <nav class="filter-nav">
    <app-filter-section></app-filter-section>
  </nav>
  <main class="result-section">
    <nav class="search-nav">
      <div class="selected-filters">
        <app-filters-selection></app-filters-selection>
      </div>
      <div class="search-container">
        <app-char-search-sort></app-char-search-sort>
      </div>
    </nav>
    <div class="results">
      <app-character-list-holder></app-character-list-holder>
    </div>
  </main>
</div>
