.character-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .character {
    max-width: 300px;
    margin: 10px
  }
}

mat-paginator {
  background: none;
}
